.menuOpen
{
    -webkit-animation-name: menuOpen; /* Chrome, Safari, Opera */
    -webkit-animation-duration: .25s; /* Chrome, Safari, Opera */
    -webkit-animation-fill-mode: forwards;
    animation-name: menuOpen;
    animation-duration: .25s;
    animation-fill-mode: forwards;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes menuOpen {
    0%   {left: -75%; right: 100%; }
    100%  {left: 0; right: 25%;}
}

/* Standard syntax */
@keyframes menuOpen {
    0%   {left: -75%; right: 100%; }
    100%  {left: 0; right: 25%;}
}

.contentMenuOpen
{
    -webkit-animation-name: contentMenuOpen; /* Chrome, Safari, Opera */
    -webkit-animation-duration: .25s; /* Chrome, Safari, Opera */
    -webkit-animation-fill-mode: forwards;
    animation-name: contentMenuOpen;
    animation-duration: .25s;
    animation-fill-mode: forwards;
}
/* Chrome, Safari, Opera */
@-webkit-keyframes contentMenuOpen {
    0%   {left: 0; right: 0; }
    100%  {left: 75%; right: -75%;}
}
/* Standard syntax */
@keyframes contentMenuOpen {
    0%   {left: 0; right: 0; }
    100%  {left: 75%; right: -75%;}
}

.menuClose
{
    -webkit-animation-name: menuClose; /* Chrome, Safari, Opera */
    -webkit-animation-duration: .5s; /* Chrome, Safari, Opera */
    -webkit-animation-fill-mode: forwards;
    animation-name: menuClose;
    animation-duration: .5s;
    animation-fill-mode: forwards;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes menuClose {
    0%  {left: 0; right: 25%;}
    50%   {left: -75%; right: 100%; }
    100%   {left: -75%; right: 100%; }
}

/* Standard syntax */
@keyframes menuClose {
    0%  {left: 0; right: 25%;}
    50%   {left: -75%; right: 100%; }
    100%   {left: -75%; right: 100%; }
}

.contentMenuClose
{
    -webkit-animation-name: contentMenuClose; /* Chrome, Safari, Opera */
    -webkit-animation-duration: .5s; /* Chrome, Safari, Opera */
    -webkit-animation-fill-mode: forwards;
    animation-name: contentMenuClose;
    animation-duration: .5s;
    animation-fill-mode: forwards;
}
/* Chrome, Safari, Opera */
@-webkit-keyframes contentMenuClose {
    0%  {left: 75%; right: -75%;}
    50%   {left: 0; right: 0; }
    100%   {left: 0; right: 0; }
}
/* Standard syntax */
@keyframes contentMenuClose {
    0%  {left: 75%; right: -75%;}
    50%   {left: 0; right: 0; }
    100%   {left: 0; right: 0; }
}


.groupOpen
{
    -webkit-animation-name: groupOpen; /* Chrome, Safari, Opera */
    -webkit-animation-duration: .35s; /* Chrome, Safari, Opera */
    -webkit-animation-fill-mode: forwards;
    animation-name: groupOpen;
    animation-duration: .35s;
    animation-fill-mode: forwards;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes groupOpen {
    0%   {left: 100%; right: -100%; }
    100%  {left: 0; right: 0;}
}

/* Standard syntax */
@keyframes groupOpen {
    0%   {left: 100%; right: -100%; }
    100%  {left: 0; right: 0;}
}

.contentGroupOpen
{
    -webkit-animation-name: contentGroupOpen; /* Chrome, Safari, Opera */
    -webkit-animation-duration: .35s; /* Chrome, Safari, Opera */
    -webkit-animation-fill-mode: forwards;
    animation-name: contentGroupOpen;
    animation-duration: .35s;
    animation-fill-mode: forwards;
}
/* Chrome, Safari, Opera */
@-webkit-keyframes contentGroupOpen {
    0%   {left: 0; right: 0; }
    100%  {left: -100%; right: 100%;}
}
/* Standard syntax */
@keyframes contentGroupOpen {
    0%   {left: 0; right: 0; }
    100%  {left: -100%; right: 100%;}
}

.searchGroupOpen
{
    -webkit-animation-name: searchGroupOpen; /* Chrome, Safari, Opera */
    -webkit-animation-duration: .35s; /* Chrome, Safari, Opera */
    -webkit-animation-fill-mode: forwards;
    animation-name: searchGroupOpen;
    animation-duration: .35s;
    animation-fill-mode: forwards;
}
/* Chrome, Safari, Opera */
@-webkit-keyframes searchGroupOpen {
    0%   {left: 100%; right: -55%; }
    100%  {left: 20%; right: initial;}
}
/* Standard syntax */
@keyframes searchGroupOpen {
    0%   {left: 100%; right: -55%; }
    100%  {left: 20%; right: initial;}
}

.groupClose
{
    -webkit-animation-name: groupClose; /* Chrome, Safari, Opera */
    -webkit-animation-duration: .5s; /* Chrome, Safari, Opera */
    -webkit-animation-fill-mode: forwards;
    animation-name: groupClose;
    animation-duration: .5s;
    animation-fill-mode: forwards;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes groupClose {
    0%  {left: 0; right: 0;}
    50%   {left: 100%; right: -100%; }
    100%   {left: 100%; right: -100%; }
}

/* Standard syntax */
@keyframes groupClose {
    0%  {left: 0; right: 0;}
    50%   {left: 100%; right: -100%; }
    100%   {left: 100%; right: -100%; }
}

.contentGroupClose
{
    -webkit-animation-name: contentGroupClose; /* Chrome, Safari, Opera */
    -webkit-animation-duration: .5s; /* Chrome, Safari, Opera */
    -webkit-animation-fill-mode: forwards;
    animation-name: contentGroupClose;
    animation-duration: .5s;
    animation-fill-mode: forwards;
}
/* Chrome, Safari, Opera */
@-webkit-keyframes contentGroupClose {
    0%  {left: -100%; right: 100%;}
    70%   {left: 0; right: 0; }
    100%   {left: 0; right: 0; }
}
/* Standard syntax */
@keyframes contentGroupClose {
    0%  {left: -100%; right: 100%;}
    70%   {left: 0; right: 0; }
    100%   {left: 0; right: 0; }
}

.searchGroupClose
{
    -webkit-animation-name: searchGroupClose; /* Chrome, Safari, Opera */
    -webkit-animation-duration: .35s; /* Chrome, Safari, Opera */
    -webkit-animation-fill-mode: forwards;
    animation-name: searchGroupClose;
    animation-duration: .35s;
    animation-fill-mode: forwards;
}
/* Chrome, Safari, Opera */
@-webkit-keyframes searchGroupClose {
    0%  {left: 20%; right: initial;}
    100%   {left: 100%; right: -55%; }
}
/* Standard syntax */
@keyframes searchGroupClose {
    0%  {left: 20%; right: initial;}
    100%   {left: 100%; right: -55%; }
}

.closeRight
{
    -webkit-animation-name: closeRight; /* Chrome, Safari, Opera */
    -webkit-animation-duration: .5s; /* Chrome, Safari, Opera */
    -webkit-animation-fill-mode: forwards;
    animation-name: closeRight;
    animation-duration: .5s;
    animation-fill-mode: forwards;
}
/* Chrome, Safari, Opera */
@-webkit-keyframes closeRight {
    0%  {left: 0; right: 0;}
    70%   {left: 100%; right: -100%;}
    100%   {left: 100%; right: -100%;}
}
/* Standard syntax */
@keyframes closeRight {
    0%  {left: 0; right: 0;}
    70%   {left: 100%; right: -100%;}
    100%   {left: 100%; right: -100%;}
}

.isPrivate
{
    -webkit-animation-name: isPrivate; /* Chrome, Safari, Opera */
    -webkit-animation-duration: .5s; /* Chrome, Safari, Opera */
    -webkit-animation-fill-mode: forwards;
    animation-name: isPrivate;
    animation-duration: .5s;
    animation-fill-mode: forwards;
}
/* Chrome, Safari, Opera */
@-webkit-keyframes isPrivate {
    0%  {margin-left: 0;}
    70%   {margin-left: 44%;}
    100%   {margin-left: 44%;}
}
/* Standard syntax */
@keyframes isPrivate {
    0%  {margin-left: 0;}
    70%   {margin-left: 44%;}
    100%   {margin-left: 44%;}
}

.isPublic
{
    -webkit-animation-name: isPublic; /* Chrome, Safari, Opera */
    -webkit-animation-duration: .5s; /* Chrome, Safari, Opera */
    -webkit-animation-fill-mode: forwards;
    animation-name: isPublic;
    animation-duration: .5s;
    animation-fill-mode: forwards;
}
/* Chrome, Safari, Opera */
@-webkit-keyframes isPublic {
    0%  {margin-left: 44%;}
    70%   {margin-left: 0;}
    100%   {margin-left: 0;}
}
/* Standard syntax */
@keyframes isPublic {
    0%  {margin-left: 44%;}
    70%   {margin-left: 0;}
    100%   {margin-left: 0;}
}

.launchImg
{
    position: fixed;
    top:35%;
    left:25%;
    width:50%;

    -webkit-animation-name: launchImg; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 8s; /* Chrome, Safari, Opera */
    -webkit-animation-iteration-count:infinite;
    animation-name: launchImg;
    animation-duration: 8s;
    animation-iteration-count: infinite;
}
/* Chrome, Safari, Opera */
@-webkit-keyframes launchImg {
    0%  {top:35%;left:25%;width:50%;}
    50%   {top:20%;left:10%;width:80%;}
    100%   {top:35%;left:25%;width:50%;}
}
/* Standard syntax */
@keyframes launchImg {
    0%  {top:35%;left:25%;width:50%;}
    50%   {top:20%;left:10%;width:80%;}
    100%   {top:35%;left:25%;width:50%;}
}


