body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    margin: 0;
}
input[type="text"], input[type="number"]
{
    display: block;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    background-color: #f6f6f6;
    margin: 6px 0;
    width:92%;
}
textarea
{
    display: block;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    background-color: #f6f6f6;
    margin: 6px 0;
    width:92%;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
input.error, textarea.error
{
    border-color: #D8000C;
}
.modal-backdrop {
    height: 100%;
    width: 100%;
    position: fixed;
    background-color: #000;
    opacity: .5;
    display: none;
    z-index: 999;
}
.modal-dialog
{
    position: absolute;
    width: 575px;
    z-index: 1000;
    background: white;
    left: 50%;
    margin-left: -288px;
    margin-top: 75px;
    display: none;
}
.loading
{
    position: absolute;
    z-index: 1000;
    left: 50%;
    top: 50%;
    margin-left: -30px;
    margin-top: -30px;
    display: none;
}
.loading img
{
    width: 60px;
}
.dialogClose
{
    float: right;
    padding: 0 15px 15px 15px;
    margin: 11px 3px -50px 0;
    font-size: 16pt;
    color: #34B8F4;
    cursor: pointer;
    position: relative;
    font-family:Helvetica,Arial,san-serif;
}
.dialogContent
{
    padding: 1em 50px 3em;
    max-height: 450px;
    overflow-y: scroll;
}
.dialogFooter
{
    display: none;
    height: 20px;
    background: #999;
}
.pillBtn
{
    background-color: #f6f6f6;
    border: 1px solid #4285F4;
    height: 36px;
    width: 99%;
    padding: 1px;
    border-radius: 18px;
}
.pillBtn div
{
    color: #aaa;
}
.pillBtn div.selected
{
    color: white;
}
.pillBtn div.slider
{
    height: 34px;
    background-color: #4285F4;
    width: 56%;
    margin-left: 44%;
    border-radius: 16px;
    margin-top: 1px;
}
.bottomBtn
{
    position:absolute;
    bottom: 0;
    left:0;
    right:0;
    border-top: 1px solid #ccc;
    text-align:center;
    color:#4285F4;
    background-color: white;
    padding: 12px 0;
}
.header
{
    background: #4285F4;
    text-align: center;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 20;
}
.title
{
    height: 40px;
    margin: 20px 0 10px;
}
#notificationBtn
{
    height: 40px;
    margin: 24px 0 14px;
    position: absolute;
    right: 5%;
}
#addBtn
{
    position: fixed;
    width: 60px;
    bottom: 20px;
    left: 50%;
    margin-left: -30px;
    z-index: 10;
}
#addBtn:hover
{
    cursor: pointer;
}
.content
{
    margin: 0 auto;
    padding: 165px 0 70px;
    min-height: 350px;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: scroll;
    z-index: 1;
}
.event
{
    border: 1px solid #F2F2F2;
    padding: 10px 20px;
}
.event img
{
    height: 40px;
    float: left;
}
.event img.going
{
    border-radius: 20px;
}
.event > div:first-of-type
{
    margin: 0px 6px 0px 20px;
}
#addDiv
{
    position: fixed;
    overflow-y: scroll;
    background: white;
    padding: 0 20px 0;
    top: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 200;
    display: none;
}
#detailsDiv
{
    position: fixed;
    overflow-y: scroll;
    background: white;
    padding: 0 20px 0;
    top: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    display: none;
}
#detailsDiv > div
{
    margin: 8px 0;
}
#messageDiv
{
    position: fixed;
    background: white;
    left: 100%;
    right: 0;
    display: none;
    z-index: 150;
}
#MessageResults
{
    position: fixed;
    overflow: scroll;
    padding: 65px 30px 80px;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: white;
}
#sendDiv
{
    position: fixed;
    top: 100%;
    left: 0;
    right: 0;
    margin-top: -60px;
    height: 60px;
    background: #f2f2f2;
    border-top: 1px solid #ccc;
    padding: 4px 12px;
}
#sendDiv input
{
    width: 70%;
    float: left;
    background: #fff;
}
#sendDiv > div
{
    color: #4285F4;
    margin: 16px 0 0 5%;
    float: left;
}
#MessageResults .meMessage {
    color: #fff;
    background: #1380F9;
    border-radius: 15px;
    padding: 10px;
    float: right;
    clear: both;
    width: 60%;
    margin: 4px 0;
}
#MessageResults .youMessage {
    background: #E6E6E6;
    border-radius: 15px;
    padding: 10px;
    float: left;
    clear: both;
    width: 60%;
    margin: 4px 0;
    border: 1px solid #ccc;
}
#addMap
{
    width: 100%;
    height: 165px;
    margin: 12px 0;
}
#DetailsMap
{
    width: 100%;
    height: 265px;
    margin: 12px 0 48px;
}
#locationDiv
{
    position: fixed;
    overflow-y: scroll;
    background: white;
    padding: 0 20px 0;
    top: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
    z-index: 3000;
}
#locationResults > div
{
    padding: 8px 16px;
    border-bottom: 1px solid #D8D8D8;
    background-color: white;
}
#locationResults > div > div
{
    height: 4px;
}
.invitedFriends
{
    height: 80px;
    overflow-y: hidden;
    overflow-x: scroll;
    margin-right: -20px;
}
.invitedFriendsScroll
{
    float: left;
}
.invitedFriendsScroll > div
{
    float: left;
    text-align: center;
    margin: 0 8px 8px 6px;
    position: relative;
    width: 55px;
}
.invitedFriendsScroll > div > img
{
    height: 50px;
    border-radius: 25px;
}
.invitedFriendsScroll > div.nonFb
{
    margin: 0 2px 8px;
}
.invitedFriendsScroll > div.nonFb img
{
    height: 60px;
    margin-bottom: -10px;
}
.invitedFbImg 
{
    opacity: .5;
}
.invitedFriendsScroll > div .icon 
{
    background-color: white;
    height: 20px;
    width: 20px;
    top: 30px;
    position: absolute;
    right: -8px;
    border-radius: 20px;
}

.invitedFriendsScroll > div .icon.goingIcon
{
    border: 2px solid #079500;
}
.invitedFriendsScroll > div .icon.invitedIcon
{
    border: 2px solid #4285F4;
}
.invitedFriendsScroll > div .icon.goingIcon img
{
    height: 15px;
    padding-top: 3px;
}
.invitedFriendsScroll > div .icon.invitedIcon img
{
    height: 16px;
    padding-top: 2px;
}
#inviteDiv
{
    position: fixed;
    overflow-y: scroll;
    background: white;
    padding: 0 20px 0;
    top: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
    z-index: 3000;
}
#inviteResults > div
{
    padding: 4px 16px;
    border-bottom: 1px solid #D8D8D8;
    background-color: white;
}
#inviteResults img
{
    height: 20px;
    float: right;
    margin: -2px 15px 0 0;
    display: none;
}
#inviteResults div.invited img
{
    display: block;
}
#facebookLoginDiv
{
    position: fixed;
    background: white;
    top: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
    z-index: 3000;
}
#notificationDiv
{
    position: fixed;
    overflow-y: scroll;
    background: #F6F6F6;
    width: 75%;
    top: 74px;
    left: 100%;
    bottom: 0;
    display: none;
    z-index: 15;
}
#notificationDiv > div
{
    padding: 8px 16px;
    border-bottom: 1px solid #D8D8D8;
}
#notificationDiv > div > div
{
    height: 4px;
}
#MessageBox, #ActionMessageBox
{
    background: #F6F6F6;
    position: absolute;
    top: 10%;
    left: 15%;
    right: 15%;
    padding: 12px;

    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
    z-index: 9000;
    display: none;
}
#MessageBox .messageContent, #ActionMessageBox .messageContent
{
    margin: 8px 10px 50px;
}
#clockDiv
{
    background: #F6F6F6;
    position: absolute;
    top: 10%;
    left: 15%;
    right: 15%;
    padding: 12px;

    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
    z-index: 2000;
    display: none;
}
#clockDiv .time
{
    margin: 20px 0;
    text-align: center;
    font-size: 2em;
}
#clockCircle div
{
    padding: 6px 0;  
    border-radius: 15px;
    width: 30px;
    text-align: center;
}
#clockCircle .selected
{
    background: #4285F4;
    color: white;
}
#clockDiv .ampm
{
    margin: 6px 16px 65px;
    width: 40px;
    text-align: center;
    border-radius: 20px;
    padding: 10px 0;
}
#clockDiv .ampm.selected
{
    background-color: #4285F4;
    color: white;
}
