html {
    background: #21c5c5;
}
body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    margin: 0;
    background: #21c5c5;
}
.header
{
    background: #21c5c5;
    text-align: center;
}
.content
{
    color: white;
}
.title
{
    height: 52px;
    margin: 10px 0;
}
.links
{
    text-align:center;
    margin:0 auto;
    width:425px;
}
.links a, .links div
{
    float: left;
}
.links img
{
    height: 50px;
}
.Mobile .links
{
    width: 90%;
    margin-left: 5%;
}
.Mobile .links a, .Mobile .links div
{
    float: none;
}